body{
  background-image: url('../img/bg.png')
}

.main{
background-image: url('../img/box.png');
background-size: 800px;
background-repeat: no-repeat;
background-position: center;
height: 780px;
}
 .main h1{
   text-align: center;
   padding-top: 300px;
   font-size: 75px;
   font-weight: lighter;
   color: #ffffff;
 }
